.top_main ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top_main_sec01,
.top_main_sec02,
.top_main_sec03,
.top_main_sec04,
.top_main_sec05,
.top_main_sec06 {
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px 2px 30px 2px;
}
.top_main_sec01::before,
.top_main_sec02::before,
.top_main_sec03::before,
.top_main_sec04::before,
.top_main_sec05::before,
.top_main_sec06::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
.top_main_sec01 {
    width: 960px;
    border-color: #ff2427;
}

.top_main_sec01 .top_main_ttl {
    color: #ff2427;
}

.top_main_sec02 {
    width: 470px;
    border-color: #ffbc1c;
    margin-right: 20px;
}

.top_main_sec02 .top_main_ttl {
    color: #ffbc1c;
}

.top_main_sec03 {
    width: 470px;
    border-color: #ffbc1c;
}

.top_main_sec03 .top_main_ttl {
    color: #ffbc1c;
}

.top_main_sec04 {
    margin-right: 20px;
    width: 470px;
    border-color: #31acf6;
}

.top_main_sec04 .top_main_ttl {
    color: #31acf6;
}

.top_main_sec05 {
    width: 225px;
    margin-right: 20px;
    border-color: #31acf6;
}

.top_main_sec05 .top_main_ttl {
    color: #31acf6;
}

.top_main_sec06 {
    width: 225px;
    border-color: #31acf6;
}

.top_main_sec06 .top_main_ttl {
    color: #31acf6;
}

.top_main_ttl {
    font-size: 28px;
    font-weight: normal;
    padding-left: 46px;
    padding-top: 5px;
}
.top_main_ttl a {
    color: #31acf6 !important;
    text-decoration: none;
}
.top_main_ttl a:hover {
    text-decoration: underline;
    color: #ff5a5a !important;
}

.top_main_link {
    padding-left: 10px;
}

.top_main_link p {
    position: relative;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
}

.top_main_link p::before,
.top_main_link p::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.top_main_link p::before {
    left: 3px;
    top: -3px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top_main_link a {
    color: inherit;
    text-decoration: none;
}

.top_main_link a:hover {
    text-decoration: underline;
    color: #ff5a5a !important;
}
